body{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.tooltip {
    display: none;
}
.clouds {
    background-image: url(https://th.bing.com/th/id/OIP.Wa98SwkSQHnEiJNP1ZflOgHaE8?w=283&h=189&c=7&r=0&o=5&pid=1.7);
}

.clear {
    background-image: url(https://th.bing.com/th/id/OIP.5gmgxr8L2nOYh-ev4mRueQHaD6?pid=ImgDet&rs=1);
}

.rain {
    background-image: url(https://th.bing.com/th/id/OIP.eszxOmS7hZ7AFnMVR7UF_QHaE8?pid=ImgDet&rs=1) ;
}

.snow {
    background-image:url(https://th.bing.com/th/id/OIP.D7TsWhPA1ifkbdcINAkexgHaFj?pid=ImgDet&rs=1);
}

